* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:focus{
	outline: none !important;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	font-family: Muller;
}

.header__content_block {
	width: 100%;
	display: flex;
	height: 100px;
	flex-flow: row wrap;
}

#main__wrapper {
	width: 1400px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	background: #faf9ff;
	font-weight: 500;
}

main {
	min-height: 490px;
}

.rounded {
	border-radius: 8px;
}

.rectangle {
	background-repeat: no-repeat !important;
	position: absolute;
}

.section {
	padding: 0 98px 30px 98px;
}

.opacity {
	opacity: 0;
}

.hidden {
	display: none;
}

#header {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 106px 0;
	height: auto;
	padding: 0 98px 25px 0;
	margin: 0 auto;
}

.see_all {
	float: right;
	cursor: pointer;
	line-height: 36px;
	font-size: 14px;
	color: #26188e;
}

.head_text {
	color: white;
	display: inline;
	height: 36px;
	padding: 9px 20px;
	font-weight: bolder;
	background: linear-gradient(to right, #6800b6, #f70070);
}

.dummy {
	cursor: pointer;
}

.social_icon {
	width: 39px;
	height: 38px;
	background-repeat: no-repeat !important;
	background-position: center !important;
	cursor: pointer;
	transition: transform 0.05s ease-in;
}

.vkontakte {
	background: url('~/assets/img/vkontakte.png');
}

.facebook {
	background: url('~/assets/img/facebook.png');
}

.twitter {
	background: url('~/assets/img/twitter.png');
}

.instagram {
	/*background: white;*/
	background: url('~/assets/img/instagram.png');
}

.odnoklass {
	background: url('~/assets/img/odnoklass.png');
}

.slider_arrow {
	z-index: 1;
	cursor: pointer;
	width: 63px;
	height: 63px;
	background: white;
	border-radius: 50px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	width: 12px;
	height: 18px;
	background-repeat: no-repeat !important;
}

.slider_arrow i {
	font-size: 32px;
}

.slider_arrow:hover {
	color: #e62969;
	-webkit-box-shadow: 2px 1px 16px 0px #f60036;
	box-shadow: 2px 1px 16px 0px #f60036;
}

.prev {

}

.next {

}

.latest_news__head,
.novelties__head,
.guests__head,
.top_twenty__head,
.play_online__head,
.hitfm_radio__head
{
	margin: 0 0 20px 0;
	height: 36px;
	line-height: 36px;
}

.slider_arrow {
	position: absolute;
}

.header__slider .slider_arrow {
	top: calc(50% - 25px);
}
.header__slider .next {
	right: 30px;
}

.header__slider .prev {
	left: 30px;
}

.novelties__slider .slider_arrow {
	top: calc(50% - 40px);
}

.novelties__slider .next {
	right: 5px;
}

.novelties__slider .prev {
	left: -15px;
}

.novelties__content .slick-list {
	height: 300px;
}

.text_overflow_e {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.additional_content {
	padding: 0 20px 0 0;
	margin: 30px 0 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chip__wrapper {
	display: flex;
	font-size: 14px;

}

.chip {
	margin: 0px 20px 0 0;
	background: #fff;
	padding: 8px 20px;
	border-radius: 20px;
	font-weight: 700;
	color: #f60036;
	cursor: pointer;
	height: 30px;
}

.nuxt-link-active .chip {
	background: #f60036;
	color: #fff;
}

.aside__left {
	margin: 0 0 0 98px;
	padding: 20px 0;
	display: flex;
	flex-flow: column;
	width: 240px;
}

.aside__left_item {
	margin: 0 0 10px 0;
}

.back_button__wrapper {
	color: #7e7aa1;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.back_button__icon {
	margin: 0 15px 0 0;
	width: 40px;
	height: 40px;
	background: #fff;
	display: flex;
	border-radius: 20px;
}

.back_button__icon i {
	margin: auto;
}

.back_button__str {
	font-weight: 500;
}

.back_button__wrapper:hover {
	color: #463d9f;
}

.main_image {
	width: 100%;
	height: 240px;
}

#main_content {
	width: 1044px;
	padding: 0 98px 0 0;
	float: right;
}

.bold {
	font-weight: 700;
}



/* Иконки на плеерах */
.player_actions {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	width: 130px;
	align-content:  flex-start;
	position: relative;
}

.player_actions__share_menu {
	display: none;
	position: absolute;
	border-top-right-radius: 20px;
	width: 208px;
	height: 38px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom-right-radius: 20px;
	/* z-index: 2321312312; */
	right: -100px;
	background: #fff;
	top: 21px;
	padding: 0px 0 0 26px;
}

.player_actions__share_menu_icon {
	width: 26px;
	height: 26px;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: contain !important;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.05s ease-in;
	transition: -webkit-transform 0.05s ease-in;
	transition: transform 0.05s ease-in;
	transition: transform 0.05s ease-in, -webkit-transform 0.05s ease-in;
}

.share {
	margin: 0 7px 0 0;
}

.share:hover i {
	color: #f60036;
}

.liked i {
	color: #f60036 !important;
}

.fullscreen i{
	font-size: 31px;
}

.player_actions_icon {
	color: #bfbcd1;
	cursor: pointer;
}

.player_actions_icon.share:hover .player_actions__share_menu {
	display: flex;
}

.player_actions__share_menu_icon:hover {
	transform: scale(1.15, 1.15);
}



/*Ползунки*/
.con-slider {
	margin: 0 auto 0 auto;
	display: flex;
	align-items: flex-end;
	width: 200px;
	padding: 10px 0;
}

.header__player .circle-interno,
.header__player .circle-slider
{
	width: 14px;
	height: 14px;
	-webkit-box-shadow: 1px 3px 13px 1px #fcb7c6;
	box-shadow: 1px 3px 13px 1px #fcb7c6;
}

.con-numero-slider {
	display: none !important;
}

.news_item__additional_content .linea-slider {
	height: 2px !important;
}

.news_item__additional_content .con-slider {
	padding: 10px 10px 10px 5px;
}

.news_item__additional_content .circle-slider,
.news_item__additional_content .circle-interno
{
	width: 10px;
	height: 10px;
}

.hanky_panky__archive_content .linea-slider {
	height: 2px !important;
}

.hanky_panky__archive_content .con-slider {
	padding: 10px 10px 10px 5px;
}

.hanky_panky__archive_content .circle-slider,
.hanky_panky__archive_content .circle-interno
{
	width: 10px;
	height: 10px;
}